.contact {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  margin-top: 5em;
}

.contactForm__container {
  display: flex;
  gap: 2em;
  width: 90%;

  flex-direction: column;
  justify-content: center;

  textarea {
    padding: 2em 0em 2em 0.5em;
    background-color: white;
    color: rgb(44, 44, 44);
  }

  .btnReadMore {
    margin: 0 auto;
  }
}
@media screen and (min-width: 600px) {
  .contactForm__container {
    min-width: 350px;
    max-width: 40%;
  }
}

.input {
  padding: 1.2em;
  background-color: white;
  color: rgb(44, 44, 44);
  margin-right: 2em;
  width: 25em;
}
